@import "reset.css";
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Helvetica, sans-serif;
}


/* NAVBAR */

nav {
    height: 70px;
    width: 80%;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 26px;
    margin-left: 15px;
    height: 60px;
    width: 70px;
}

.all-link {
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
}

.link {
    color: black;
    margin-left: 26px;
    margin-right: 26px;
    text-decoration: none;
}

.link:hover {
    border-bottom: black 2px solid;
}

.user {
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect {
    text-decoration: none;
    margin-left: 26px;
    margin-right: 26px;
    color: black;
}

.connect:hover {
    border-bottom: black 2px solid;
}

.inscri {
    text-decoration: none;
    margin-left: 26px;
    margin-right: 26px;
    text-align: center;
    color: white;
    background-color: #0066DD;
    padding: 6px;
    border-radius: 32px;
    width: 100px;
}

.inscri:hover {
    background-color: white;
    color: #0066DD;
}


/* BANNIERE */

.bann {
    background-image: url('../img/ban.jpg');
    height: 500px;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-ban {
    font-size: 3em;
    color: black;
    border: solid black 3px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-top: 30px;
}


/* BUTTON */

.button {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.boisson {
    cursor: pointer;
    margin-right: 50px;
}

.pati {
    cursor: pointer;
    margin-left: 50px;
}

.bt-select {
    cursor: default;
    background-color: #0066DD;
    border-radius: 32px;
    border: none;
    padding: 15px;
    color: white;
}

.ar-pati {}

.affi {
    display: none;
}

.carte {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    /* NE PAS OUBLIEZ DE SUPPRIMER LE MARGIN */
}

.block {
    color: #0066DD;
    height: 320px;
    width: 250px;
    box-shadow: 6px 12px 15px grey;
}

.img-cok {
    background-image: url('../img/cok.png');
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-size: cover;
    margin-top: 20px;
}

.img-gat {
    background-image: url('../img/gat.jpg');
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-size: cover;
    margin-top: 20px;
}

.titleblock {
    font-size: 20px;
    margin-top: 20px;
}

.price {
    margin-top: 20px;
}


/*FOOTER*/

.footer {
    height: 250px;
    width: 100%;
}

.title-footer {
    font-weight: bold;
    margin-bottom: 20px;
}

.info {
    margin-bottom: 3px;
}

.center-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.center-res {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fb {
    background-image: url('../img/fb.png');
    height: 50px;
    width: 50px;
    background-size: cover;
    margin-right: 35px;
}

.insta {
    background-image: url('../img/insta.png');
    height: 50px;
    width: 50px;
    background-size: cover;
    margin-right: 35px;
}

.linkdin {
    background-image: url('../img/link.png');
    height: 50px;
    width: 50px;
    background-size: cover;
}

.mention {
    margin-top: 115px;
    color: black;
}

.lk {
    text-decoration: none;
    color: black;
}